.itemTitle {
  display: flex;
  justify-content: space-between;
  place-items: center;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.containerCards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 30px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  flex-grow: 1;
  flex-basis: 200px;
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  /* margin: 2px; */
}

.card:hover {
  border: 1px solid #e6e6e6;
  box-shadow: 0 4px 14px 0 #e6e6e6;
}

.cardImage {
  border-radius: 10px;
}

.cardTitle {
  padding-top: 5px;
}

.cardDescription {
  margin: 0;
  padding: 5px 0 10px 0;
}

.favoriteCard {
  color: #18c6ca;
  margin: 0;
  font-size: medium;
}
